/*hidden node*/
#ajax_lang,
#nav-menu>ul>li:nth-child(6),
.index_navi {
  display: none !important;
}

.icon {
  width: 2.5em;
  height: 2.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: black;
}

:root {
  --body-width: 1200px;
  --font-size-12: 12px;
  --font-size-14: 14px;
}

:root {
  --display-flex: flex;
  --border-radius-2: 4px;
  --border-radius-10: 10px;
  --border-radius-200: 200px;
  --element-margin-bottom-18: 18px;
  --element-padding: 8px 10px;
  --element-padding-left: 18px;
  --element-padding-0-10: 0 10px;
  --element-height-34: 34px;
  --down-menu-height: 46px;
  --down-menu-dual-line-height: 92px;
  --down-menu-divider-height: 1px;
  --marign-padding-18: 18px;
  --margin-bottom-30: 30px;
  --margin-bottom-60: 60px;
  --tip-margin-top-30: 30px;
  --motion-2: .4s all;
}

:root {
  --shadow-hot: 0px 6px 10px rgba(0, 0, 0, 0.25);
  --shadow-outline: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

:root {
  /* color */
  --body-background: #ebebeb;
  --background-color: #ebebeb;
  --element-background: #fafafa;
  --menu-hover-background: #dedede;
  --tip-background: #2c2c2c;
  --active-background: red;
  --point: #056396;
  --point-orange: #fd6c2d;
  --point-yellow: #fdbb2d;
  --point-green: #67c8ae;
  --point-blue: #6296e1;
  --icon-line: black;
  --icon-fill: rgb(0, 0, 0);
  --icon-active: rgb(255, 255, 255);
  /* subject */
  --origni-bg: #1e262c;
  --uplay-bg: #fafafa;
  --gog-bg: #2c2c2c;
  --window-store-bg: #ededed;
  --epic-game-bg: #2a2a2a;
  --sankwo-bg: #292e41;
  --cube-bg: #1b344b;
  --wegame-bg: #211f1e;
  --console-bg: #2b2c31;
  --mobile-bg: #fafafa;

  /* game */
  --all-game-bg: #056396;
  --dota2-bg: #100f0f;
  --battle-net-bg: #0b0d12;
  --dota-underlord-bg: #342c4a;
  --ea-bg: #fafafa;
  --csgo-bg: #273548;
  --vr-bg: #767676;
  --gta-bg: #fafafa;
  --survivel-bg: #f2a900;
  --value-bg: #f74843;
  --ak-bg: #2d2e31;
  --uplay-game-bg: #398bf3;

  /* help */
  --help-background: #056396;
  --help-green: #8fd5c2;
  --help-green-key: #125c49;
  --help-yellow: #f2cc7b;
  --help-yellow-key: #795812;
  --help-red: #eda585;
  --help-red-key: #783519;
  --help-blue: #88b0e8;
  --help-blue-key: #103a76;

  /* font */
  --font-color-light: #fafafa;
  --font-nomal: #2c2c2c;
  --font-second-title: #aeaeae;
  --font-second-light-aphal: rgba(255, 255, 255, 0.7);
  --font-second-aphal: rgba(0, 0, 0, 0.3);
  --font-point: #c9d6e9;
  --font-point-second-title: rgba(201, 214, 233, 0.5);
  --input-background: #dedede;
  --input-post-background: #f4f4f4;
  --font-visit: #056396;
}

.darkmode-css {

  /* color */
  --body-background: #070E17;
  --background-color: #203A5C;
  --element-background: #101f31;
  --menu-hover-background: rgb(44, 77, 119);
  --tip-background: #203A5C;
  --active-background: rgb(186, 255, 74);
  --point: #203a5c;
  --point-orange: #fd6c2d;
  --point-yellow: #fdbb2d;
  --point-green: #67c8ae;
  --point-blue: #6296e1;
  --icon-line: #B7C8DF;
  --icon-fill: rgb(0, 0, 0);
  --icon-active: #B7C8DF;
  /* subject */
  --origni-bg: #1e262c;
  --uplay-bg: #fafafa;
  --gog-bg: #2c2c2c;
  --window-store-bg: #ededed;
  --epic-game-bg: #2a2a2a;
  --sankwo-bg: #292e41;
  --cube-bg: #1b344b;
  --wegame-bg: #211f1e;
  --console-bg: #2b2c31;
  --mobile-bg: #fafafa;

  /* game */
  --all-game-bg: #056396;
  --dota2-bg: #100f0f;
  --battle-net-bg: #0b0d12;
  --dota-underlord-bg: #342c4a;
  --ea-bg: #fafafa;
  --csgo-bg: #273548;
  --vr-bg: #767676;
  --gta-bg: #fafafa;
  --survivel-bg: #f2a900;
  --value-bg: #f74843;
  --ak-bg: #2d2e31;
  --uplay-game-bg: #398bf3;

  /* help */
  --help-background: #07244d;
  --help-green: #228167;
  --help-green-key: #033c2c;
  --help-yellow: #b08923;
  --help-yellow-key: #523904;
  --help-red: #97624b;
  --help-red-key: #5e240c;
  --help-blue: #4e6b94;
  --help-blue-key: #132b4e;

  /* font */
  --font-color-light: #B7C8DF;
  --font-nomal: #B7C8DF;
  --font-second-title: #aeaeae;
  --font-second-light-aphal: rgba(255, 255, 255, 0.3);
  --font-second-aphal: rgba(255, 255, 255, 0.3);
  --font-point: #93abcd;
  --font-point-second-title: rgba(201, 214, 233, 0.5);
  --input-background: #203A5C;
  --input-post-background: #081423;
  --font-visit: #5A6D87;

}

html,
body,
ul,
ol,
button,
p,
a,
strong,
label,
input,
textarea {
  border: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  line-height: var(--font-size-14);
  color: var(--font-nomal);
  font-size: var(--font-size-14);
  outline: none;
}

.symbol-icons {
  display: flex;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: var(--font-size-14);
}

html {
  display: var(--display-flex);
  justify-content: center;
}

body {
  display: var(--display-flex);
  align-items: center;
  flex-direction: column;
  background-color: var(--body-background);
  width: 100%;
}

#nav-menu,
#nav-menu>ul,
.tb-container,
.floatcontainer,
#frameCX66dD,
#wp,
.tb,
.area,
.index_subject,
.index_subject_row,
.index_middle_subject,
.index_foot_subject,
.bbs_daily_stats,
.rnd_ai_f,
.subforunm_foot {
  display: var(--display-flex);
  justify-content: center;
}

.floatcontainer {
  flex-direction: column-reverse;
}

.floatcontainer {
  display: none;
}

.index_navi {
  display: var(--display-flex);
  flex-direction: row;
  justify-content: center;
}

/* ----------------导航栏----------------- */
/*logo*/
#nav-logo>span:first-child {
  display: none;
}

#nav-logo>span:last-child {}

#nav-menu-parent .icon {
  color: var(--icon-line);

}

#nav-menu-parent {
  width: 100%;
  display: var(--display-flex);
  justify-content: center;
}

#nav-menu {
  height: 110px;
  width: var(--body-width);
  align-items: center;
  justify-content: space-between;
}

#nav-menu>ul {
  width: 640px;
}

/*菜单栏子项*/
.has-sub {
  display: var(--display-flex);
  justify-content: center;
  align-items: center;
  width: calc(100% / 9);
  height: 30px;
}

.has-sub>ul {
  z-index: 12;
  display: none;
  background-color: var(--background-color);
  box-shadow: var(--shadow-hot);
  border-radius: var(--border-radius-10);
  position: absolute;
  top: 0;
  margin-left: 54px;
  margin-top: 68px;
  justify-content: end;
  width: 172px;
  flex-direction: column;
  overflow: hidden;
}

.has-sub>ul>li {
  justify-content: left;
  padding-left: var(--element-padding-left);
  font-size: var(--font-size-14);
  height: var(--down-menu-height);
}

.has-sub>ul>li.dual-line {
  height: var(--down-menu-dual-line-height);
}

.has-sub>ul>li>a {
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: var(--down-menu-height);
}

.has-sub:hover>ul {
  display: var(--display-flex);
  flex-direction: column;
}

.has-sub>ul>li:hover {
  background-color: var(--menu-hover-background);
}

/* -------------用户&搜索栏---------- */
#nav-additional {
  display: var(--display-flex);
}

/* 数量提示 */
#nav-user-action-bar>ul>li>a {
  display: var(--display-flex);
  justify-content: center;
}

.badge {
  display: var(--display-flex);
  background-color: var(--point);
  color: var(--font-color-light);
  position: absolute;
  padding: 2px 6px;
  border-radius: 4px;
  margin-top: 35px;
}

/* -------搜索--------- */
.tb-container {
  border-radius: var(--border-radius-200);
  background-color: var(--input-background);
  overflow: hidden;
}

#nav-search-bar {
  display: var(--display-flex);
  align-items: center;
  width: 240px;
}

#nav-user-action-bar {
  display: var(--display-flex);
}

/* 搜索输入框 */
.search-bar-form {
  --search-bar-height: 30px;
}

.search-bar-form {
  display: var(--display-flex);
  flex-direction: row-reverse;
  height: var(--search-bar-height);
}

.search-box {
  background-color: var(--input-background);
  padding: 0;
  margin: 0;
  border: none;
  color: var(--font-nomal);
}

.search-box::placeholder {
  color: var(--font-second-aphal);
}

/* 搜索切换按钮 */

.search-bar-form>.dropdown {
  display: var(--display-flex);
}

/* 按钮 */
.search-bar-form>.dropdown>button {
  display: var(--display-flex);
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  background-color: var(--input-background);
  margin-right: 14px;
  font: var(--font-size-12);
}

.search-bar-form>.dropdown>button>span:nth-child(1) {
  display: flex;
  width: 100%;
  min-width: 30px;
  color: var(--font-nomal);
}

.search-bar-form>.dropdown>.dropdown-menu>li,
#nav-user-action-bar>ul>.dropdown>.dropdown-menu-right>li {
  display: var(--display-flex);

  align-items: center;
}

/* 搜索输入框 菜单 */
.search-bar-form>.dropdown>.dropdown-menu,
#nav-user-action-bar>ul>.dropdown>.dropdown-menu-right {
  display: none;
  z-index: 11;
  background-color: var(--background-color);
  box-shadow: var(--shadow-hot);
  position: absolute;
  margin-top: var(--search-bar-height);
  border-radius: var(--border-radius-10);
  overflow: hidden;
}

.search-bar-form>.dropdown>.dropdown-menu>li {
  justify-content: center;
  font-size: var(--font-size-12);
  width: 80px;
  height: var(--search-bar-height);
}

.search-bar-form>.dropdown>.dropdown-menu>li>a {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: var(--search-bar-height);
}

/* 头像下拉 菜单*/
#nav-user-action-bar>ul>.dropdown>.dropdown-menu-right {
  display: none;
  top: 0;
  margin-left: -140px;
  margin-top: 68px;
  justify-content: end;
  width: 172px;
  flex-direction: column;
}

.search-bar-form>.dropdown:hover>.dropdown-menu {
  display: block;
}

#nav-user-action-bar>ul>.dropdown:hover>.dropdown-menu-right {
  display: var(--display-flex);
}

/* 头像下拉 */

#nav-user-action-bar>ul>.dropdown>ul>li {
  justify-content: left;
  padding-left: var(--element-padding-left);
  font-size: var(--font-size-14);
  height: var(--down-menu-height);
}

#nav-user-action-bar>ul>.dropdown>ul>li>a {
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: var(--down-menu-height);
  cursor: pointer;
}

/* 分隔线 */
.search-bar-form>.dropdown>.dropdown-menu>li.divider,
#nav-user-action-bar>ul>.dropdown>ul>li.divider {
  height: var(--down-menu-divider-height);
  background-color: var(--menu-hover-background);
}

/* 下拉菜单hover效果*/
.search-bar-form>.dropdown>.dropdown-menu>li:hover,
#nav-user-action-bar>ul>.dropdown>ul>li:hover {
  background-color: var(--menu-hover-background);
}

/* 头像 */
.dropdown {}

.dropdown>a>img {
  height: 30px;
  width: 30px;
  border-radius: var(--border-radius-200);
}

/* 头像下拉菜单symbol */
.dropdown>ul>li>span {
  margin-right: 8px;
}

/* 用户信息 */
.list-inline {
  display: var(--display-flex);
  align-content: center;
  justify-content: space-between;
  height: 30px;
  width: 125px;
}

.list-inline>li {
  display: var(--display-flex);
  align-items: center;
}

/* ---------------主内容框架----------------------- */
#wp {
  width: var(--body-width);
  min-width: 0 !important;
  flex-direction: column;
  flex-wrap: wrap;
}

/* -----------热门主题--------*/
#diy1 {
  width: var(--body-width);
}

/* 热点 */
#frameCX66dD {
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: var(--margin-bottom-30);
  margin-bottom: 90px;
}

/* -----------tab---------------- */
#tabPAhn0P,
#tabPAhn0P_title {
  display: var(--display-flex);
}

#tabPAhn0P_title {
  width: 76px;
  height: 450px;
}

/* 版块列表-内容全局 */
#tabPAhn0P_title>ul>li>a,
#tabPAhn0P_content>div>div>ol>li>a:last-child {
  transition: 0.2s all;
  line-height: var(--font-size-14);
  margin-bottom: 18px;
  display: inline-block;
  background-color: var(--element-background);
  border-radius: var(--border-radius-10);
  padding: 10px 8px;
  box-shadow: var(--shadow-outline);

  /*文本省略*/
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 660px;
  overflow: hidden;
}

/* 版块列表 */
#tabPAhn0P_title>ul {
  display: var(--display-flex);
  flex-direction: column;
  justify-content: space-between;
}

#tabPAhn0P_title>ul>li.a>a {
  background-color: var(--point);
}

#tabPAhn0P_title>ul>li.a>a {
  color: var(--font-color-light);
}

/* 小点点 */
#tabPAhn0P_title>ul>li:nth-child(1):before,
#tabPAhn0P_title>ul>li:nth-child(2):before,
#tabPAhn0P_title>ul>li:nth-child(3):before,
#tabPAhn0P_title>ul>li:nth-child(4):before {
  border-radius: var(--border-radius-10);
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 90px;
  margin-top: 16px;
}

#tabPAhn0P_title>ul>li:nth-child(1):before {
  background-color: var(--point-orange);
}

#tabPAhn0P_title>ul>li:nth-child(2):before {
  background-color: var(--point-yellow);
}

#tabPAhn0P_title>ul>li:nth-child(3):before {
  background-color: var(--point-green);
}

#tabPAhn0P_title>ul>li:nth-child(4):before {
  background-color: var(--point-blue);
}

/* 热门主题列表内容---------- */
#tabPAhn0P_content {
  --tabPAhn0P_content-height: 558px;
}

#tabPAhn0P_content {
  display: var(--display-flex);
  width: 680px;
  padding-left: 50px;
  padding-right: 10px;
  overflow-y: hidden;
}

#tabPAhn0P_content ol {
  list-style-type: none;
}

#tabPAhn0P>div:nth-child(2) {
  transition: 0.2s all;
  height: var(--tabPAhn0P_content-height);
}

.tabPContentShow {
  height: 780px !important;
}

/* 更多按钮 */
#tabPContentShow {
  transition: 0.2s all;
  font-size: var(--font-size-12);
  background-color: var(--element-background);
  position: absolute;
  display: var(--shadow-outline);
  padding: var(--element-padding);
  box-shadow: var(--shadow-outline);
  border-radius: var(--border-radius-10);
  cursor: pointer;
  color: var(--font-nomal);
}

#tabPContentShow:focus {
  outline: none;
}

#tabPContentShow:hover {
  box-shadow: var(--shadow-hot);
}

.tabPContentBtnHide {
  margin-top: var(--tabPAhn0P_content-height);
}

.tabPContentBtnShow {
  margin-top: 780px;
}

/* 隐藏用户 版块前缀*/
#tabPAhn0P_content li em,
#tabPAhn0P_content li a {
  display: none;
}

/* hover */

#tabPAhn0P_content>div>div>ol>li>a:hover {
  box-shadow: var(--shadow-hot);
}

.darkmode-css #tabPAhn0P_content>div>div>ol>li>a:hover {
  box-shadow: var(--shadow-hot);
  background-color: var(--menu-hover-background);
}


/* ---------------热门图片------- */
#frameCX66dD_left,
#portal_block_431,
#portal_block_431_content,
#portal_block_431_content>div.slidebox,
.slideshow,
.slideshow>li,
.slideshow>li>a,
.slideshow>li>a>div {
  width: 314px !important;
  height: 447px !important;
  border-radius: var(--border-radius-10);
  display: var(--display-flex);
  justify-content: center;
}

/* 356px */
#frameCX66dD_left,
#portal_block_431,
#portal_block_431_content {
  width: 356px !important;
}

.slideshow>li {
  overflow: hidden;
}

/* 图片遮罩 */

.slideshow>li>a {
  background-color: var(--background-color);
}

.slideshow>li>a>div {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1e1e1e 100%);
  position: absolute;
  top: 0;
}

/* 图片 */
.slideshow>li>a>img {
  /*	margin-top:80px;
	transform:scale(1.56);*/
  height: 100%;
}

/* 标题 */
.slideshow>li>.title {
  color: var(--font-color-light);
  width: 200px;
  position: absolute;
  left: 30px;
  bottom: 68px;
  font-size: 18px;
  font-weight: bold;
}

/* 底部占位 */
.slideshow>li {
  --slideshow-margin-left-top: -20px;
  --slideshow-margin--left-middle: 0px;
  --slideshow-margin-left-bottom: 20px;
  --slideshow-margin-left-bg: 40px;
}

.slideshow>li {
  transition: 0.2s all;
  position: absolute;
  margin-left: var(--slideshow-margin-left-bg);
  top: 60px;
  opacity: 0;
}

/* 底部占位1 */
.slideshow>li:nth-child(1) {
  position: absolute;
  margin-left: var(--slideshow-margin--left-middle);
  top: 20px;
  display: flex !important;
  opacity: 0.6;
}

/* 底部占位2 */
.slideshow>li:nth-child(2) {
  position: absolute;
  top: 40px;
  margin-left: var(--slideshow-margin-left-bottom);
  display: flex !important;
  opacity: 0.25;
}

/* 轮播设置 */

.slideshow>li[style*="block"] {
  box-shadow: var(--shadow-hot);
  z-index: 3;
  position: absolute;
  margin-left: var(--slideshow-margin-left-top);
  top: 0px;
  opacity: 1;
}

.slideshow>li[style*="block"]+li {
  box-shadow: var(--shadow-hot);
  z-index: 2;
  position: absolute;
  margin-left: var(--slideshow-margin--left-middle);
  top: 20px;
  display: flex !important;
  opacity: 0.6;
}

.slideshow>li[style*="block"]+li+li {
  box-shadow: var(--shadow-outline);
  z-index: 1;
  position: absolute;
  margin-left: var(--slideshow-margin-left-bottom);
  top: 40px;
  display: flex !important;
  opacity: 0.25;
}

/* 图片控制条 */
.slidebar {
  --slidebar-size: 8px;
}

.slidebar>ul {
  z-index: 10;
  position: absolute !important;
  top: 400px !important;
  left: 30px !important;
  display: var(--display-flex);
  width: 200px;
  justify-content: space-between;
}

.slidebar>ul>li {
  height: var(--slidebar-size);
  width: var(--slidebar-size);
  border-radius: var(--border-radius-200);
  background-color: var(--font-color-light);
  opacity: 0.3;
}

.slidebar>ul>li.on {
  background-color: var(--font-color-light);
  opacity: 1;
}

/*------------------------版块内容--------------------------------*/
#index-subject-parent div {
  transition: 0.2s all;
  display: var(--display-flex);
  flex-wrap: wrap;

  justify-content: end;
}

#index-subject-parent div.row_ads {
  display: none;
}

#index-subject-parent {
  display: var(--display-flex);
  flex-direction: row;
  justify-content: space-between;
}

.index_subject_left {
  display: initial;
  width: 789px;
}

.index_subject_right {
  display: var(--display-flex);
  flex-direction: column;
  width: 356px;
}

/* 版块标题 */
.index_subject_title {
  padding: 8px 18px;
  margin-bottom: var(--marign-padding-18);
  background-color: var(--point);
  border-radius: var(--border-radius-10);
  color: var(--font-color-light);
}

#manufacturer>div.index_subject_title,
#game>div.index_subject_title {
  background-color: var(--tip-background);
}

/* 版块 */
.index_subject_row {
  margin-bottom: var(--margin-bottom-60);
}

.darkmode-css .index_subject_game {
  opacity: .8;
}

/* 子版块 */
.subject_row_detail {
  padding: 12px 12px;
  margin: 0 12px 18px 0;
  box-shadow: var(--shadow-outline);
  border-radius: var(--border-radius-10);
  background-color: var(--element-background);
  align-items: center;
}



.subject_row_detail:hover {
  box-shadow: var(--shadow-hot);
}

/* 子版块br */
.subject_row_detail_text br {
  display: none;
}

.subject_row_detail_text {
  flex-direction: column;
  color: var(--font-second-aphal);
}

/* 子版块颜色设置 */
#manufacturer>div.index_subject_row>div:nth-child(1) {
  background-color: var(--origni-bg);
}

#manufacturer>div.index_subject_row>div:nth-child(2) {
  background-color: var(--uplay-bg);
}

#manufacturer>div.index_subject_row>div:nth-child(3) {
  background-color: var(--gog-bg);
}

#manufacturer>div.index_subject_row>div:nth-child(4) {
  background-color: var(--window-store-bg);
}

#manufacturer>div.index_subject_row>div:nth-child(5) {
  background-color: var(--epic-game-bg);
}

#manufacturer>div.index_subject_row>div:nth-child(6) {
  background-color: var(--gta-bg);
}

#manufacturer>div.index_subject_row>div:nth-child(7) {
  background-color: var(--sankwo-bg);
}

#manufacturer>div.index_subject_row>div:nth-child(8) {
  background-color: var(--cube-bg);
}

#manufacturer>div.index_subject_row>div:nth-child(9) {
  background-color: var(--wegame-bg);
}

#manufacturer>div.index_subject_row>div:nth-child(10) {
  background-color: var(--console-bg);
}

#manufacturer>div.index_subject_row>div:nth-child(11) {
  background-color: var(--mobile-bg);
}

/* 子版块游戏 */
#game>div.index_subject_row>div:nth-child(1) {
  background-color: var(--all-game-bg);
}

#game>div.index_subject_row>div:nth-child(2) {
  background-color: var(--ak-bg);
}

#game>div.index_subject_row>div:nth-child(3) {
  background-color: var(--dota-underlord-bg);
}

#game>div.index_subject_row>div:nth-child(4) {
  background-color: var(--dota2-bg);
}

#game>div.index_subject_row>div:nth-child(5) {
  background-color: var(--csgo-bg);
}

#game>div.index_subject_row>div:nth-child(6) {
  background-color: var(--survivel-bg);
}

#game>div.index_subject_row>div:nth-child(7) {
  background-color: var(--gta-bg);
}

#game>div.index_subject_row>div:nth-child(8) {
  background-color: var(--value-bg);
}

#game>div.index_subject_row>div:nth-child(9) {
  background-color: var(--ea-bg);
}

#game>div.index_subject_row>div:nth-child(10) {
  background-color: var(--uplay-game-bg);
}

#game>div.index_subject_row>div:nth-child(11) {
  background-color: var(--battle-net-bg);
}

#game>div.index_subject_row>div:nth-child(12) {
  background-color: var(--vr-bg);
}

/* ------友商 游戏 全局标题 (黑底)------------ */
div.index_subject_game div.subject_row_detail_text_up>a {
  color: var(--font-color-light);
}

/* ------友商 游戏 全局二级标题 (黑底)------------ */
div.index_subject_game div.subject_row_detail_text_down {
  color: var(--font-second-light-aphal);
}

/* 友商二级字体 白底 */
#manufacturer>div.index_subject_row>div:nth-child(2) div.subject_row_detail_text_down,
#manufacturer>div.index_subject_row>div:nth-child(4) div.subject_row_detail_text_down,
#manufacturer>div.index_subject_row>div:nth-child(6) div.subject_row_detail_text_down,
#manufacturer>div.index_subject_row>div:nth-child(11) div.subject_row_detail_text_down {
  color: var(--font-second-aphal);
}

/*标题 白底*/
#manufacturer>div.index_subject_row>div:nth-child(2) div.subject_row_detail_text_up>a,
#manufacturer>div.index_subject_row>div:nth-child(4) div.subject_row_detail_text_up>a,
#manufacturer>div.index_subject_row>div:nth-child(6) div.subject_row_detail_text_up>a,
#manufacturer>div.index_subject_row>div:nth-child(11) div.subject_row_detail_text_up>a {
  color: var(--font-nomal);
}

.darkmode-css #manufacturer>div.index_subject_row>div:nth-child(2) div.subject_row_detail_text_up>a,
.darkmode-css #manufacturer>div.index_subject_row>div:nth-child(4) div.subject_row_detail_text_up>a,
.darkmode-css #manufacturer>div.index_subject_row>div:nth-child(6) div.subject_row_detail_text_up>a,
.darkmode-css #manufacturer>div.index_subject_row>div:nth-child(11) div.subject_row_detail_text_up>a {
  color: #2c2c2c;
}

#game>div.index_subject_row>div:nth-child(7)>div.subject_row_detail_text>div.subject_row_detail_text_up>a,
#game>div.index_subject_row>div:nth-child(9)>div.subject_row_detail_text>div.subject_row_detail_text_up>a {
  color: var(--font-nomal);
}

.darkmode-css #game>div.index_subject_row>div:nth-child(7)>div.subject_row_detail_text>div.subject_row_detail_text_up>a,
.darkmode-css #game>div.index_subject_row>div:nth-child(9)>div.subject_row_detail_text>div.subject_row_detail_text_up>a {
  color: #2c2c2c;
}

#game>div.index_subject_row>div:nth-child(7)>div.subject_row_detail_text>div.subject_row_detail_text_down,
#game>div.index_subject_row>div:nth-child(9)>div.subject_row_detail_text>div.subject_row_detail_text_down {
  color: var(--font-second-aphal);
}

/*----------------right panle--------------------*/
.row_ads {
  height: 159px;
  margin-bottom: var(--margin-bottom-30);
  box-shadow: var(--shadow-hot);
  border-radius: var(--border-radius-10);
  overflow: hidden;
  display: none;
}

.forum_nav>div:last-child {
  margin-bottom: 0px;
}

#index-subject-parent>div.index_subject_right>div.row_ads>div>a>img {
  height: 159px !important;
  width: 356px !important;
}

/* 手册 */
.forum_nav {
  margin-bottom: var(--margin-bottom-30);
}

.forum_nav>div {

  margin-bottom: var(--marign-padding-18);
  border-radius: var(--border-radius-10);
  align-items: center;
  overflow: hidden;
}

.forum_nav>div>a {
  padding: 10px 8px;
}

.navItem-1 {
  padding: 8px 10px;
  align-items: center;
  background-color: var(--help-background);
}

.navItem-1>a {
  padding: 0 !important;
  color: var(--font-point);
}

.navItem-2>a:nth-child(1),
.navItem-5>a:nth-child(1),
.navItem-7>a:nth-child(2) {
  background-color: var(--help-yellow);
  color: var(--help-yellow-key);
}

.navItem-3>a:nth-child(1),
.navItem-5>a:nth-child(2),
.navItem-7>a:nth-child(1) {
  background-color: var(--help-blue);
  color: var(--help-blue-key);
}

.navItem-3>a:nth-child(2),
.navItem-4>a:nth-child(1),
.navItem-6>a:nth-child(1),
.navItem-8>a:nth-child(2) {
  background-color: var(--help-red);
  color: var(--help-red-key);
}

.navItem-2>a:nth-child(2),
.navItem-4>a:nth-child(2),
.navItem-6>a:nth-child(2),
.navItem-8>a:nth-child(1) {
  background-color: var(--help-green);
  color: var(--help-green-key);
}

/* 子版块图片*/
.navItem-1>span,
.subject_row_detail_pic {
  margin-right: 12px;
}

.forum_help .icon {
  width: 1.5em;
  height: 1.5em;
}

/* 社区服务*/
#forum-question div {
  align-items: center;
}

#forum-question .index_subject_title {
  display: none !important;

}

#forum-question>div.index_subject_row {
  margin-bottom: 0px;
}

#forum-question>div.index_subject_row>div {
  width: 314px;
  padding: 8px 10px;
  background-color: var(--help-background);
  flex-direction: row;
}

#forum-question>div.index_subject_row>div>div.subject_row_detail_text {
  flex-direction: row;
  color: var(--font-point-second-title);
}

#forum-question>div.index_subject_row>div>div.subject_row_detail_text>.subject_row_detail_text_up>a {
  color: var(--font-point);
  margin-right: 12px;
}

.forum_help {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.forum_stats {
  font-size: var(--font-size-12);
  color: var(--font-second-title);
  flex-wrap: nowrap !important;
  flex-direction: column;
}

.forum_stats a {
  font-size: var(--font-size-12);
}

.forum_stats span {
  padding: 10px
}

.forum_stats em {
  font-style: normal;
}


/* --------汉化组------------ */
.index_subject_translate {
  margin: 0px 0 60px 0px;
}

.index_subject_translate a,
.middle_subject_detail_text_down {
  color: var(--font-color-light)
}

.index_middle_subject {
  flex-direction: row;

}

.index_middle_subject div {
  margin: 0 0 !important;
  width: 120px;
  flex-direction: row;
  flex-wrap: wrap !important;

}

.index_middle_subject>div {
  border-radius: var(--border-radius-10);
  padding: 80px 59px 22px 12px;
  margin-right: var(--margin-bottom-30) !important;
}

.middle_subject_detail_text {
  flex-direction: column-reverse !important;
}

.middle_subject_detail_text_down {
  font-weight: bold;
}

div.middle_subject_detail_right>div:nth-child(3),
.middle_subject_detail_right>div:nth-child(1)>div,
.middle_subject_detail_text>div {
  padding: 10px 10px;
}

.index_middle_subject img,
div.middle_subject_detail>div.middle_subject_detail_pic,
.middle_subject_tiltle,
.middle_subject_mid_tiltle,
.middle_subject_right_tiltle,
.dot,
.middle_subject_detail_right br,
.left_dot {
  display: none !important;
}




.foot_subject_left,
.foot_subject_right {
  display: var(--display-flex);
  flex-direction: row;
}

/* 底部 */
.subforunm_foot_bg {
  display: none;
}

.index_middle_subject>div {
  border-radius: var(--border-radius-10);
  padding: 80px 59px 22px 12px;
  margin-right: var(--margin-bottom-30) !important;
}

.middle_subject_detail_text {
  flex-direction: column-reverse !important;
}

.middle_subject_detail_text_down {
  font-weight: bold;
}

div.middle_subject_detail_right>div:nth-child(3),
.middle_subject_detail_right>div:nth-child(1)>div,
.middle_subject_detail_text>div {
  padding: 10px 10px;
}

.index_middle_subject img,
div.middle_subject_detail>div.middle_subject_detail_pic,
.middle_subject_tiltle,
.middle_subject_mid_tiltle,
.middle_subject_right_tiltle,
.dot,
.middle_subject_detail_right br,
.left_dot {
  display: none !important;
}

.middle_subject_left,
.middle_subject_mid,
.middle_subject_right {
  background-size: 100%;
  background-repeat: no-repeat;
}


/* 天邈 */
.middle_subject_left {
  background: linear-gradient(180deg, rgba(51, 43, 43, 0) 10%, #9b0202 66.35%), url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/83/83b16a956fa8ab857c791f832a85d8aaceb41418_full.jpg);
  background-color: #282828;


}

/* 蒹葭 */
.middle_subject_mid {
  background: linear-gradient(180deg, rgba(224, 224, 224, 0) 0%, #1C1919 46.35%), url(https://tva3.sinaimg.cn/crop.0.0.180.180.180/73fdc439jw1e8qgp5bmzyj2050050aa8.jpg?KID=imgbed,tva&Expires=1588217198&ssig=heG1pLOcvd);
  background-color: #c12d2a;
}

/* 起源 */
.middle_subject_right {
  background: linear-gradient(180deg, rgba(224, 224, 224, 0) 7.81%, #CF7A0A 42.19%), url(https://tva2.sinaimg.cn/crop.82.2.1140.1140.180/e9f4390djw1ein0bjh0jjj212c0vw41n.jpg?KID=imgbed,tva&Expires=1588220053&ssig=NHj9nZ6XcD);
  background-color: #555;
}



/* ------------------底部----------- */
.subforunm_foot {

  --subforunm-left-width: 783px;
  color: var(--font-point);
  font-size: var(--font-size-12);
  width: 100%;
  background-color: var(--point);
  height: 128px;
  align-items: flex-end;
}

.subforunm_foot_bg,
.subforunm_foot br {
  display: none;
}

.subforunm_foot a {
  font-size: var(--font-size-12);
  padding-right: 4px;
  color: var(--font-point);
}

.pipe {
  padding-right: 4px;
}

.subforunm_foot_banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 783px;
}

.subforunm_foot_intro {
  display: flex;
  flex-direction: column;
  width: calc(var(--body-width) - var(--subforunm-left-width));
}

.subforunm_foot_intro_left {
  display: none !important;
}

.subforunm_foot_intro_right {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.subforunm_foot_intro_right>div {
  display: flex;
  justify-content: flex-end;
}

/* 微信 */
.qrcode {
  display: none;
  position: absolute;
  margin-top: -130px;
  background-color: var(--tip-background);
  padding: 10px;
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-hot);

}

.qrcode>img {
  width: 100px;
  height: 100px;
}

.wechat-hover-qrcode:hover>.qrcode {
  display: flex;
}

.subforunm_foot_banner,
.subforunm_foot_intro {
  position: relative;
  margin-bottom: 34px;
  justify-content: center;

}

.subforunm_foot_text {
  margin-bottom: 10px;
}





/* ---------keylol copyrigh-------t*/
#nv_forum>div.subforunm_foot>div.subforunm_foot_banner>div.subforunm_foot_text_bottom>div>div:nth-child(1) {
  display: flex;

}

#nv_forum>div.subforunm_foot>div.subforunm_foot_banner>div.subforunm_foot_text_bottom>div>div:nth-child(2),
#nv_forum>div.subforunm_foot>div.subforunm_foot_intro.clearfix>div.subforunm_foot_intro_right>div:nth-child(2) {
  opacity: .5;
}

.foot_subject_left,
.foot_subject_right {
  display: var(--display-flex);
  flex-direction: row;
}


/* 底部广告 */
.rnd_ai_f {
  width: var(--body-width);
  height: 120px;
  box-shadow: var(--shadow-outline);
  border-radius: var(--border-radius-10);
  overflow: hidden;
  margin: var(--margin-bottom-60) 0;
  justify-content: center;
}

.bbs_daily_stats {
  display: none;
}



/* ----backtop ----- */
.backToTop {
  width: 40px !important;
  height: 40px !important;
  border-radius: var(--border-radius-200);
  background-color: var(--point) !important;
  box-shadow: var(--shadow-hot);
}

/* --------------------------------hot post------------------------------------- */
.z,
.bm_h>h1,
.subforum_left_title,
.mn-nav-left>a>img,
.th {
  display: none;
}

.bm_h,
.forumrowdata {
  color: var(--font-nomal);
}

#mn-nav-parent {
  padding: 22px 0;

}

/*  类别分页 */
#mn-nav-parent a {
  transition: var(--motion-2);
  line-height: var(--font-size-14);
}

#mn-nav-parent,
#mn-nav-parent>div,
#thread_types {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* 发帖按钮 */
.mn-nav-left>a {
  height: var(--element-height-34);
  font-size: var(--font-size-12);
  display: flex;
  align-items: center;
  padding: var(--element-padding-0-10);
  background-color: var(--point);
  margin-right: var(--marign-padding-18);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-outline);

}

.mn-nav-left>a .icon {
  width: 1.3em;
  height: 1.3em;
  margin-right: 2px;
}

.mn-nav-left>a>span:nth-child(2) {
  color: var(--font-color-light)
}

.mn-nav-left>a:hover {
  box-shadow: var(--shadow-hot);
}

/* 分类和分页 */
#thread_types,
.mn-nav-right>.pg {
  height: var(--element-height-34);
  display: flex;
  transition: var(--motion-2);
  border-radius: var(--border-radius-10);
  overflow: hidden;
  box-shadow: var(--shadow-outline);
}

#thread_types>li>a,
.mn-nav-right>.pg>a {
  transition: var(--motion-2);
  display: flex;
  align-items: center;
  padding: var(--element-padding-0-10);
  background-color: var(--element-background);
  height: var(--element-height-34);
}

#thread_types>li>a {
  box-shadow: var(--shadow-outline);
}

.mn-nav-right>.pg>strong,
.mn-nav-right>.pg>label {
  display: flex;
  align-items: center;
  padding: var(--element-padding-0-10);
  background-color: var(--element-background);
}

.mn-nav-right>.pg>label span {
  color: var(--font-nomal);
}

#thread_types>li>a:hover,
.mn-nav-right>.pg>a:hover {
  background-color: var(--menu-hover-background);
}

#thread_types>li.xw1.a>a,
.mn-nav-right>.pg>strong {
  background-color: var(--point);
}

#thread_types>li.xw1.a>a,
.mn-nav-right>.pg>strong {
  color: var(--font-color-light);
}

/* 输入 */
.mn-nav-right>.pg>label>input {
  width: 20px;
  color: var(--font-nomal);
  padding: 4px;
  border-radius: var(--border-radius-2);
  background-color: var(--input-background);
  margin-right: 10px;

}

/*我的帖子下拉*/
#filter_special_menu {
  background-color: var(--element-background);
  box-shadow: var(--shadow-hot);
  border-radius: var(--border-radius-10);
  overflow: hidden;
}

#filter_special_menu:hover {}

#filter_special_menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#filter_special_menu ul li a {
  padding: var(--element-padding);
  display: flex;
  align-items: center;
}

#filter_special_menu ul li a:hover {
  background-color: var(--background-color);
}

/*订阅 收藏 管理 回收*/
.subforum_left_title_right_up {
  margin-left: 0px !important;
}

.mn-nav-right-control-panel .icon {
  width: 2.4em !important;
  height: 2.4em !important;
}

.mn-nav-right-control-panel {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row-reverse;
}

.mn-nav-right-control-panel div {
  display: flex;
}

.mn-nav-right-control-panel a {
  display: flex;
  justify-content: center;


}

.mn-nav-right-control-panel a .control-panel-tip {
  position: absolute;
  padding: var(--element-padding-0-10);
  margin-top: 40px;
  height: var(--element-height-34);
  background-color: var(--tip-background);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-hot);
  color: var(--font-color-light);
  align-items: center;
  display: none;
  z-index: 12;
  flex-wrap: nowrap;

}

.mn-nav-right-control-panel a:hover .control-panel-tip {
  display: flex;
}

/*返回按钮*/
#pgt {
  display: none;
}

/*-----------------------------帖子nav----------------------*/
/*banner*/
.bm.bml.pbn img {
  width: 100%;
  border-radius: var(--border-radius-10);
  margin-bottom: 18px;
}

/*帖子类型*/
#newspecial_menu {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-hot);
  background-color: var(--point);
  overflow: hidden;
}

#newspecial_menu a {
  color: var(--font-second-light-aphal);
  font-size: var(--font-size-12);
  padding: var(--element-padding);
  display: flex;
}

#newspecial_menu a:hover {
  color: var(--font-color-light);
}

#mn-nav-parent .icon,
#mn-nav-sort-parent .icon,
#mn-nav-tag-parent .icon {
  width: 1.3em;
  height: 1.3em;
  margin-right: 2px;
  color: var(--icon-fill);
}

#mn-nav-parent .pg .icon {
  color: var(--icon-line);
}

#mn-nav-sort-parent .icon {
  color: var(--icon-line);
}

/*排序*/
.subforum_subject_detail_text_up {
  display: none !important;
}

#mn-nav-sort-parent {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.subforum_subject_detail2 {
  overflow: hidden;
  box-shadow: var(--shadow-outline);
  border-radius: var(--border-radius-10);
  background-color: var(--element-background);

}


#mn-nav-sort-parent div,
#mn-nav-tag-parent div {
  align-items: center;
  height: var(--element-height-34);
  display: flex;
  flex-direction: row;

}

#mn-nav-sort-parent a {
  transition: .2s all;
  line-height: var(--element-height-34);
  padding: var(--element-padding-0-10);

}

#mn-nav-sort-parent a:hover {
  background-color: var(--background-color);
}

#mn-nav-sort-parent .active a {
  color: var(--font-color-light);
  background-color: var(--point);

}

#mn-nav-sort-parent .active a .icon {
  color: var(--icon-active)
}

div.subforum_subject_detail_text_down>div:first-child a {
  display: flex;
  align-items: center;
}

/*子版块*/
#pgt+.subforum div {
  display: flex;
  align-content: center;

}

#pgt+.subforum img {
  height: 48px;
  border-radius: var(--border-radius-10);
  margin-right: 18px;
}

#pgt+.subforum .subforum_subject_title {
  display: none;
}

#pgt+.subforum .subforum_subject_detail {
  padding: var(--element-margin-bottom-18);
  background-color: var(--element-background);
  border-radius: var(--border-radius-10);
  margin-bottom: 18px;
  box-shadow: var(--shadow-outline);
  align-items: center;
}

.subforum {
  margin: 0 !important;
  display: flex;

}

.subforum_subject2 {
  display: none;
}

.suforum-symbol {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subforum-info-tip {
  position: absolute;
  padding: var(--element-padding);
  background-color: var(--tip-background);
  border-radius: var(--border-radius-10);
  color: var(--font-color-light);
  margin-top: var(--tip-margin-top-30);
  justify-content: center;
  display: none;
  box-shadow: var(--shadow-hot);
}

.subforum_right_title>div:hover .subforum-info-tip {
  display: flex;
}

#mn-nav-parent .subforum_right_title {
  color: var(--font-nomal);
  display: flex;
  align-items: center;
  height: var(--element-height-34);
  background-color: var(--element-background);
  box-shadow: var(--shadow-outline);
  border-radius: var(--border-radius-10);
  padding: var(--element-padding-0-10);
}

.subforum_right_title>div {
  display: flex;
  margin-right: 8px;
}

/*-----版块tag------*/
#mn-nav-tag-parent {
  margin-bottom: 40px;
}

#mn-nav-tag-parent div {
  height: auto;
}

#mn-nav-tag-parent .subforum_subject_detail2 {
  background: none;
  box-shadow: none;
  overflow: visible;
  border: none;
  margin-top: 22px !important;
}

#mn-nav-tag-parent .subforum_subject_detail_text_down {

  max-width: 1200px;
  flex-wrap: wrap;
}

#mn-nav-tag-parent .subforum_subject_detail_text_down a {
  transition: .2s all;
  box-shadow: var(--shadow-outline);
  border-radius: var(--border-radius-10);
  background-color: var(--element-background);
  margin: 0 10px 10px 0;
  height: var(--element-height-34);
  align-content: center;
  padding: var(--element-padding-0-10);
  flex-wrap: wrap;
  display: flex;
}

#mn-nav-tag-parent .subforum_subject_detail_text_down div.active a .post-tag-num {
  color: var(--element-background);
}

/*tag原始图标*/
#mn-nav-tag-parent img {
  margin-right: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.tag-tip {
  position: absolute;
  padding: var(--element-padding-0-10);
  height: var(--element-height-34);
  background-color: var(--tip-background);
  color: var(--font-color-light);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-hot);
  align-items: center;
  display: none;
  margin-top: var(--tip-margin-top-30);

}

#mn-nav-tag-parent>div>div.subforum_subject_detail_text_down>div>a {
  justify-content: center;
}

#mn-nav-tag-parent>div>div.subforum_subject_detail_text_down>div>a>span:first-child {
  display: flex;
  align-items: center;
}

#mn-nav-tag-parent>div>div.subforum_subject_detail_text_down>div>a:hover>.tag-tip {
  display: flex;
}

#mn-nav-tag-parent>div>div.subforum_subject_detail_text_down>div>a:hover {
  background-color: var(--background-color);
}

#mn-nav-tag-parent .subforum_subject_detail_text_down div.active a {
  background-color: var(--point) !important;
  color: var(--font-color-light);
}

#mn-nav-tag-parent .subforum_subject_detail_text_down div.active a .icon {
  color: black;
}

#mn-nav-tag-parent .subforum_subject_detail_text_down div.active .post-tag-name {
  color: var(--font-color-light);
}

/*版块规则*/
#mn-nav-rule-parent {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
}

#mn-nav-rule-switch {
  display: flex;
}

.ptn div,
.ptn a {
  display: flex;
}

.ptn {
  display: flex;
  border-radius: var(--border-radius-10) var(--border-radius-10) 0 0;
  overflow: hidden;
  box-shadow: var(--shadow-outline);
}

/*隐藏*/
div[id*="forum_rules"] #current-forum-rule {
  display: none;
}

#current-forum-rule a {
  color: var(--font-visit);
}

.ptn a,
#current-forum-rule {
  padding: var(--element-padding);
  background-color: var(--element-background);

}

.ptn a:hover {
  background-color: var(--background-color);
}

.ptn a.active {
  background-color: var(--point);
  color: var(--font-color-light);
}

#current-forum-rule {
  border-radius: 0 var(--border-radius-10) var(--border-radius-10) var(--border-radius-10);
  margin-top: 0px !important;
  box-shadow: var(--shadow-outline);
  color: var(--font-nomal);

}

/* ------------------列表------------------------ */
/*新帖子提醒*/
#forumnewshow {
  height: 0px;
  overflow: hidden;
  margin-bottom: 0px;
}

#forumnewshow a {
  color: var(--help-yellow-key);
  position: fixed;
  box-shadow: var(--shadow-hot);
  z-index: 112;
  top: 80px;
  left: 0;
  margin-left: 42vw;
  height: var(--element-height-34);
  display: flex;
  padding: var(--element-padding-0-10);
  background-color: rgb(253, 187, 45);
  align-items: center;
  border-radius: var(--border-radius-10);
}

#separatorline {
  overflow: hidden;
  height: 0px;
  margin-bottom: calc(30px - var(--marign-padding-18));
}

/*--隐藏原来的图标--*/
.subforum_subject_detail2>a[href*="type=poll"],
.bm.bw0.pgs.cl,
.bm_c img[alt*="attach"],
.bm_c img[alt*="agree"],
.bm_c img[alt*="digest"],
.lock .xi1,
.new .xi1,
.common .xi1,
.new>em:first-child,
.lock>em:first-child,
.common>em:first-child,
.common>a[href*="type=2"],
.lock>a[href*="type=2"],
.new>a[href*="type=2"],
.common>em>a[href*="typeid"],
.fromg,
tr>div.post-list>div.post-list-left>div>div.lock>a:nth-child(3) {
  display: none;
}

.bm_c table .icon {
  width: 1.3em;
  height: 1.3em;
  color: var(--icon-line)
}

/*隐藏顶置*/
.post-list a[class*="showhide"] {
  margin-right: 10px;
}

/*图标*/
.post-info {
  margin-left: 10px;
}

.post-tps {
  color: var(--font-nomal);
}

.bm_c table .post-info .icon {
  color: var(--icon-fill);
}

.post-list-left .symbol-icons,
.post-list-right-l .symbol-icons {
  margin-right: 6px;
}

/*列表布局*/
.bm_c table {
  display: flex;
  flex-direction: column;
}

/*子列表布局*/

.bm_c tbody {
  margin-bottom: var(--marign-padding-18);
}

.bm_c tbody:hover .post-list {
  transition: var(--motion-2);
  box-shadow: var(--shadow-hot);
}

.darkmode-css .bm_c tbody:hover .post-list {
  transition: var(--motion-2);
  box-shadow: var(--shadow-hot);
  background-color: var(--menu-hover-background);
}

.bm_c table>tbody>tr>div {
  background-color: var(--element-background);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-outline);
}

.bm_c table>tbody>tr,
.post-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--element-height-34);
}

.bm_c table>tbody>tr div {
  align-items: center;
  display: flex;

}

.bm_c table>tbody>tr>div {
  padding: 0px 16px;
}

.post-list-by-member>a,
.post-avatar {
  align-items: center;
  display: flex;

}

/**/
.post-list-icn {
  padding: 0px 8px !important;
  height: var(--element-height-34);
  margin-right: 6px;
  white-space: nowrap;
}

.bm_c table .post-list-icn .icon {
  color: var(--icon-fill);
}

.post-list-icn a {
  justify-content: center;
  display: flex;
}


/*隐藏不必要的字*/
.post-list-common>div:nth-child(1) {
  font-size: 0px;
}

/* -- post tip---*/
.post-list-tip a {
  color: var(--font-second-light-aphal);
}

/*版块暂时隐藏*/
.post-list-tip {
  height: var(--element-height-34);
  display: none !important;
  margin-top: 40px;
  position: absolute;
  background-color: var(--tip-background) !important;
  box-shadow: var(--shadow-hot) !important;
}



/*阅读权限*/
.post-lock,
.post-join,
.post-reward,
.post-reply-reward,
.post-new-post-tip {
  margin-right: 6px;
  font-size: var(--font-size-12);
  padding: 2px;
  border-radius: var(--border-radius-2);
  display: flex;
  background-color: var(--point);
  justify-content: center;
}

.post-lock span.symbol-icons+span {
  color: var(--font-point);
}

.post-join,
.post-reward,
.post-reply-reward {
  margin-right: 6px;
  background-color: var(--point-green);
}

.post-reward {
  background-color: var(--point-yellow);
}

.post-reply-reward {
  background-color: var(--point-orange);
}

.post-new {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*提示全局*/
.post-lock-tip,
.post-join-tip,
.post-reward-tip,
.post-reply-reward-tip,
.post-new-post-tip,
.post-reply-tip {
  z-index: 11;
  padding: var(--element-padding-0-10);
  background-color: var(--tip-background);
  border-radius: var(--border-radius-10);
  margin-top: var(--tip-margin-top-30);
  display: none;
  flex-direction: row;
  position: absolute;
  height: var(--element-height-34);
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-hot);
}

.post-lock:hover .post-lock-tip {
  color: var(--font-point);
  background-color: var(--point);
  display: flex;
}

.post-join:hover .post-join-tip {
  color: var(--font-nomal);
  background-color: var(--point-green);
  display: flex;

}

.post-reward:hover .post-reward-tip {
  color: var(--font-nomal);
  background-color: var(--point-yellow);
  display: flex;

}

.darkmode-css .post-reward:hover .post-reward-tip,
.darkmode-css .post-reply-reward:hover .post-reply-reward-tip {
  color: black;
}

.post-reply-reward:hover .post-reply-reward-tip {
  color: var(--font-nomal);
  background-color: var(--point-orange);
  display: flex;

}

.post-new:hover>.post-new-post-tip {
  color: var(--font-second-light-aphal);
  background-color: var(--tip-background);
  display: flex;
}

.post-reply-tip a,
.post-reply-tip>span {
  margin-right: 4px;
  white-space: nowrap;
  color: var(--font-color-light);
  font-size: var(--font-size-12);
}

.post-reply-tip a:last-child {
  color: var(--font-second-light-aphal);
}

.post-list-num {
  justify-content: center;
}

.post-list-num span {
  color: var(--font-nomal);
  flex-direction: row;
}

.post-list-num>span>a>span {
  color: var(--font-color-light);
}

.post-list-num:hover .post-reply-tip {
  z-index: 303;
  color: var(--font-second-light-aphal);
  background-color: var(--tip-background);
  display: flex;
}

.post-reply-tip>span:nth-child(1) {
  color: var(--font-point-second-title);
}

/*tps*/
.common .tps {
  display: none;
}

.post-tps a {

  margin-right: 4px;

}

/*悬赏*/

/* 头像 */

.post-avatar>img {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  border-radius: var(--border-radius-200);

}

.post-list-right-l>div {
  margin-left: 10px;
}

.post-list-right em {
  font-style: normal;
}

/*总回复*/

.post-list-num em {
  display: none;
}

/*最后回复*/
.post-list-last-comment {
  display: none !important;
}

.post-list-time {
  color: var(--font-second-aphal);
}

.post-list-time .xi1 {
  color: var(--font-nomal);
}

/*------会员卡片------*/
.p_opt div {
  display: flex;

}

.p_opt {

  min-width: 160px;
  background-color: var(--background-color);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-hot);
  padding: var(--element-padding);
}

div[class*="card_gender"] .o.cl a {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

div[class*="card_gender"] .icon {
  transition: .2s all;
  width: 1.6em;
  height: 1.6em;
  margin-right: 10px;
}

div[class*="card_gender"] .user-card-tip {
  position: absolute;
  margin-top: 40px;
  display: none;
  background-color: var(--tip-background);
  height: var(--element-height-34);
  padding: var(--element-padding-0-10);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-hot);
  align-items: center;
  color: var(--font-color-light);
  white-space: nowrap;
  flex-direction: row;
}

div[class*="card_gender"] a:hover .user-card-tip {
  display: flex;
}

.card_mn {
  width: 100%;
  display: flex;
}

.avt {
  margin-right: 10px;
}

.avt a img,
.avt a {
  height: 48px;
  width: 48px;
  border-radius: var(--border-radius-200);
  overflow: hidden;
}

.avt a img:focus {
  border: none;
  outline: none;
}

.o.cl {
  position: absolute;
  margin-top: 24px;
  margin-left: 58px;
}

.pbn.cl {
  display: flex;
  flex-direction: row-reverse;

}

.pbn.cl span,
.pbn.cl strong {
  margin-right: 10px;
}

/*-----------------------快速发帖-------------------*/
/*无权发帖*/
.premission-tip {
  color: var(--font-nomal);
}

.premission-tip a {
  color: var(--font-visit);
}

#f_pst {
  width: var(--body-width);
  --pst-width: 920px;
}

#f_pst div {
  display: flex;
}

#fastpostform {
  background-color: var(--element-background);
  box-shadow: var(--shadow-outline);
  border-radius: var(--border-radius-10);
  padding: var(--element-margin-bottom-18);
}

#fastsmilies div {
  display: flex;
}

_pst .cl {
  justify-content: flex-end;
  flex-direction: column;

}

.pbt {
  flex-direction: row-reverse !important;
  justify-content: flex-end;


}

#f

/*快速图标栏&高级模式*/
#f_pst .bar {
  height: var(--element-height-34);
}

#f_pst .bar {
  margin: 8px 0px;
  align-items: center;
  justify-content: space-between;

}

#f_pst .bar .icon {
  width: 1.8em;
  height: 1.8em;

}

.darkmode-css #f_pst .bar .icon {
  color: var(--icon-line);
}

#f_pst .tedt {
  flex-direction: column;
}

#f_pst .area {
  justify-content: end;
}

/**/
.forumrowdata {
  margin-bottom: var(--element-margin-bottom-18);
}

.forumrowdata a {
  color: var(--point);
}

/*主题选择*/
#fastpostform>div.pbt.cl input,
#fastpostmessage {
  overflow: hidden;
  background-color: var(--input-post-background);
  border-radius: var(--border-radius-10);
  color: var(--font-nomal);
}


#fastpostmessage {
  padding: var(--element-margin-bottom-18);
  min-height: calc(var(--element-height-34) * 3);
  width: var(--pst-width) !important;
}

#fastpostform .cl {
  flex-direction: column;
}

#fastpostform>div.pbt.cl input {
  height: var(--element-height-34);
  padding: var(--element-padding-0-10);
}

/*验证码*/
.mtm.sec {
  padding: var(--element-margin-bottom-18);
  align-items: center;
  color: var(--font-nomal);
}

.mtm.sec input[id*="seccodeverify"] {
  background-color: var(--input-post-background);
  box-shadow: var(--shadow-outline);
  border-radius: var(--border-radius-10);
  height: var(--element-height-34);
  padding: var(--element-padding-0-10);
  margin: 0 10px;
  color: var(--font-nomal);
}

span[id*="checkseccodeverify"] {
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: -24px;
  margin-left: 240px;
}

/*表情*/
#fastsmilies,
#smilies_preview {
  position: absolute;
  margin-left: calc(var(--pst-width) + 55px);
}

#smilies_preview {
  display: none;
  position: absolute !important;
  left: calc(1200px) !important;

}

#fastsmilies>table>tbody>tr {
  padding: 2px;
}

#fastsmilies>table>tbody>tr td {
  padding: 2px;
  border-radius: var(--border-radius-10);
}

#fastsmilies>table>tbody>tr td:hover {
  background-color: var(--background-color);
}

/*表情弹窗*/
#fastpostsml_menu {
  display: flex;
  padding: var(--element-margin-bottom-18);
  background-color: var(--element-background);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-hot);
  width: auto;
}

#fastpostsmiliesdiv_tb {
  flex-wrap: wrap;
  display: flex;

}

#fastpostsmiliesdiv_tb ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#fastpostsmiliesdiv_tb ul li {
  padding: 8px;
  display: flex;
  flex-wrap: nowrap;
  border-radius: var(--border-radius-10);
}

#fastpostsmiliesdiv_tb ul li:hover {
  background-color: var(--background-color);
}

#fastpostsmiliesdiv_page {
  display: flex;
  align-items: center;
}

#fastpostsmiliesdiv_data {
  padding: 10px;
}

#fastpostsmiliesdiv_table td {
  padding: 2px;
  border-radius: var(--border-radius-10);
}


#fastpostsmiliesdiv_page .z {
  display: flex;
  position: absolute;
  margin-left: 40px;
}

#fastpostsmiliesdiv_page .z a {
  padding: 10px;
  border-radius: var(--border-radius-10);
}

#fastpostsmiliesdiv_page .z a:hover,
#fastpostsmiliesdiv_table td:hover {
  background-color: var(--background-color);

}

.darkmode-css .fpd .icon,
.darkmode-css .webuploader-pick .icon {
  color: var(--icon-line);
}

.fpd {
  position: absolute;
}

.fpd a {
  margin-right: 8px;
  display: flex;
  justify-content: center;
}

#fastposteditor>div>div.bar>span>a span.editor-tip,
.webuploader-pick span.editor-tip,
.fpd a>span.editor-tip,
#fastpostform>div.pbt.cl>span {
  z-index: 11;
  position: absolute;
  padding: var(--element-padding-0-10);
  height: var(--element-height-34);
  background-color: var(--tip-background);
  border-radius: var(--border-radius-10);
  color: var(--font-color-light);
  display: none;
  align-items: center;
  box-shadow: var(--shadow-hot);
  margin-top: 40px;
  white-space: nowrap;

}

.webuploader-pick {
  text-indent: initial !important;
  justify-content: center;
}

#fastposteditor>div>div.bar>span>a:hover span.editor-tip,
#spanButtonPlaceholder:hover span.editor-tip,
.fpd a:hover>span.editor-tip {
  display: flex;
  cursor: pointer;
}

#spanButtonPlaceholder {
  cursor: pointer;
  display: flex;
  width: auto;
  height: auto;
  overflow: visible;
  background: none;
}

#subject:focus+span {
  display: flex !important;
}

/*上传附件*/
div[id*="rt_rt_"] {
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  width: auto !important;
  height: auto !important;
  overflow: visible !important;
  opacity: 0;
}

div[id*="rt_rt_"] input {
  display: flex;
  width: 25px;
  height: 25px;
}

/*高级模式*/
.bar .y {
  display: flex;
}

/*主题*/
#fastposteditor>div>div.bar>span>a {
  margin-left: var(--pst-width);
  display: flex;
  justify-content: center;
}

#typeid_fast_ctrl {
  display: flex;
  width: auto !important;
  padding: var(--element-padding-0-10);
  background-color: var(--point);
  height: var(--element-height-34);
  align-items: center;
  border-radius: var(--border-radius-10);
  color: var(--font-color-light);
  margin-left: 18px;
  ;
}

#typeid_fast_ctrl_menu {
  background-color: var(--point);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-hot);
  width: auto !important;
  display: flex;
  padding-top: 10px;
}

#typeid_fast_ctrl_menu>ul>li {
  display: flex;
  padding: var(--element-padding-0-10);
  height: var(--element-height-34);
  color: var(--font-second-light-aphal);
}

#typeid_fast_ctrl_menu>ul>li:hover {
  color: var(--font-color-light);
}

/*规则*/
#fastpostform>div:nth-child(8) {
  display: flex;
  flex-flow: wrap;
  color: var(--font-nomal);
}

#fastpostform>div:nth-child(8) a {
  color: var(--font-visit);
}

#fastpostform>div:nth-child(8) br {
  display: none;
}

/*无法访问*/
.f_c.altw {
  height: calc(100vh - 478px);
  border-radius: var(--border-radius-10);
}

.f_c.altw p {
  font-size: 18px;
  font-weight: bold;
  color: var(--font-nomal);

}

.f_c.altw a {
  color: var(--font-visit);
}

/*底部下一页*/
#autopbn {
  max-width: 60px;
  color: var(--font-color-light);
  height: var(--element-height-34);
  font-size: var(--font-size-12);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--element-padding-0-10);
  background-color: var(--point);
  margin-right: var(--marign-padding-18);
  border-radius: var(--border-radius-10);
  margin-bottom: var(--marign-padding-18);
}

/*-------------帖子内容-----------------------------------*/

/*全局*/
#postlist > [id^="post_"]{
	display:flex;
	flex-direction:row;
	margin-bottom:18px;
}
.post-user-card{
	position:sticky;
	top:10px;
	align-self:flex-start;
	margin-right:8px;
}

.post-content{
	width:1012px;
	background-color:var(--element-background);
	border-radius:var(--border-radius-10);
	box-shadow:var(--shadow-outline);
	overflow:hidden;
}

/*hide 前端太渣*/
#mn-content-title+#mn-nav-parent>div.mn-nav-right>div.mn-nav-right-control-panel>div:nth-child(1),
#mn-content-title+#mn-nav-parent>div.mn-nav-right>div.mn-nav-right-control-panel>div:nth-child(2) {
  display: none;
}

table[id*="pid"],
table[id*="pid"] tr,
table[id*="pid"] td,
table[id*="pid"] > tbody{
  display: flex;
  position: sticky;
	justify-content:space-between;
	max-width:var(--body-width);
}
/*回帖奖励信息*/
#pl_top{
	display:flex;
	background-color:var(--element-background);
	height:var(--element-height-34);
	align-items:center;
	padding:var(--element-padding-0-10);
	border-radius:var(--border-radius-10);
	box-shadow:var(--shadow-outline);
	margin-bottom:18px;
		
}
#mn-content-title a {
  padding: 8px 0;
  font-size: 18px;
  color: var(--font-nomal);
}

#mn-content-title a:last-child {
  margin-left: 18px;
  color: var(--font-second-aphal);
}

div[id*="favatar"] {
  display: flex;
  width: 180px;
  flex-direction: column;
  background-color: var(--element-background);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-outline);
  overflow: hidden;

}

.favatar-avatar img {
  display: flex;
  border-radius: var(--border-radius-10);

}

.favatar-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favatar-status {
  color: var(--font-nomal);
}

.favatar-avatar {
  margin: var(--element-margin-bottom-18);
  display: flex;
  justify-content: center;
}

.favatar-name,
.favatar-status {
  padding: 4px 20px;
}

/*-积分信息-*/
.favatar-mid {
  padding: 8px 0;
  color: var(--font-nomal);
}

.favatar-mid>div,
.favatar-info-title {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.favatar-mid>div {
  justify-content: space-between;
  padding: 4px 20px;

}

.favatar-info-title .icon {
  width: 1.6em;
  height: 1.6em;
  margin-right: 10px;
}

.favatar p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/*-----内容-----*/

.pcb{
	display:inline-block;
	flex-direction:column;
	padding:0 30px;
}
td[id*="postmessage"]{
	display:flex;
	flex-direction:column;
}
/*顶部栏*/
.pi{
	display:flex;
	align-items:center;
	justify-content:space-between;
	flex-direction:row-reverse;
	
}
.authi .icon{
	width:1.4em;
	height:1.4em;
	margin-right:4px;
	color:var(--icon-line);
}
.authi,
.authi em,
.authi a{
	transition:.2s all;
	font-style:normal;
	color:var(--font-nomal);
	display:flex;
	align-items:center;
	padding:8px 10px;
	border-radius:var(--border-radius-10);
}
.authi a:hover{
	background-color:var(--body-background);
}

/*电梯*/
#fj input{
	display:flex;
}
/*steam信息*/
.steam_connect_user_bar{
	display:inline-flex;
	height:var(--element-height-34);
	color:var(--font-nomal);	
	border-radius:var(--border-radius-10);
	overflow:hidden;
	align-items:center;
}
.steam_connect_user_bar a{
	transition:.2s all;
	padding:10px;
	background-color:var(--body-background);
}

.steam_connect_user_bar a:hover{
	background-color:var(--input-background);
}
/*个性签名*/
.post-content-sign{
	display:flex;
	padding:8px;
}

